html, body {
	background-color: #0c343d;
	/*text-align: center;*/
	height: 100%;
}

#selectionScenario {
	width:150px;
}

#btnRegles {
	background: transparent;
	border: none !important;
}

a, a:hover {
	text-decoration: none;
	color: white;
}