html, body {
	background-color: #202035 !important;
}

#selectionScenario {
	width:150px;
}

#btn_retour {
    margin-top: 15px;
    margin-bottom: 15px;
}

#btnJouer {
    width: 150px;
}

#btnRegles {
	background: transparent;
	border: none !important;
}

.align_center {
    text-align: center;
}
.bg_color {
    background-color: #202035 !important;
}

.container {
    margin-top: 50px;
}

.card {
    margin: 50px;
    max-width: 200px;
    border: none !important;
}
.card-img-top {
    margin: 0 auto;
    width: 75% !important;
}
.card-footer {
    border: none !important;
}
.btn_choix {
    width: 100px;
    margin-bottom: 15px;
}

#text_alibi_container {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff !important;
}
#part2 {
    display: none;
}

#btn_non_vote {
    background-color: #fe7f2d;
    border-color: #fe7f2d;
    margin-bottom: 10px;
}

#text_context_container {
    color: white;
    font-size: 20px;
}